<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jt.autismtracks">

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".HeadQuarter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TaskSettings"
            android:label="@string/title_activity_task_settings"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jt.autismtracks.HomePage" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".HomePage"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Goals"
            android:label="@string/title_activity_goals"
            android:parentActivityName=".HeadQuarter"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jt.autismtracks.HeadQuarter" />
        </activity>
        <activity
            android:name=".Rewards"
            android:label="@string/title_activity_rewards"
            android:parentActivityName=".HeadQuarter"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jt.autismtracks.HeadQuarter" />
        </activity>
        <service
            android:name=".AlarmService"
            android:enabled="true" />
        <receiver android:name=".AlarmReceiver" />
        <activity
            android:name=".AppSettingsActivity"
            android:label="@string/title_activity_app_settings"
            android:parentActivityName=".HeadQuarter">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jt.autismtracks.HeadQuarter" />
        </activity>
    </application>

</manifest>